@{
    ViewBag.Title = "Home Page";
}

<style>
    .custom-margin {
        margin-top: 50px; /* Adjust the value as needed */
    }

    .content-container {
        padding: 20px; /* Add padding to your content container */
    }

    .index-text-container h1 {
        font-size:50;
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 30%;

    }

        .index-text-container h1 {
            font-size: 50px; 
        }

        .index-text-container p {
            
            font-size: 25px; 
</style>

<div class="content-container">
    <div class="custom-margin">
        <div class="row">
            <div class="col-md-6">
                <img src="~/wwwroot/images/main-pic.jpg" alt="Your Image" width="300" height="400" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <div class="index-text-container">
                    <div class="text-content">
                        <h1>My name is Cath Jaena</h1>
                        <p>Welcome to my web portfolio. I am passionate about...</p>
                        <!-- Add more content as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
